
body {
  margin:0;
  font-family:Arial;
  background:linear-gradient(135deg,#020617,#1e293b);
  color:white;
}

.layout { display:flex; }

.sidebar {
  width:250px;
  background:#020617;
  height:100vh;
  padding:20px;
}

.sidebar a {
  display:block;
  color:white;
  padding:12px;
  text-decoration:none;
  border-radius:8px;
}

.sidebar a:hover {
  background:#2563eb;
}

.content {
  flex:1;
  padding:40px;
}

.card {
  background:#1e293b;
  padding:20px;
  border-radius:12px;
  margin-top:20px;
  transition:0.3s;
}

.card:hover {
  transform:scale(1.05);
}

button {
  background:linear-gradient(135deg,#6134f7,#793bf6);
  border:none;
  padding:10px;
  border-radius:8px;
  color:white;
  margin-top:10px;
}

input, textarea {
  width:100%;
  padding:10px;
  border-radius:8px;
  border:none;
  margin-top:10px;
}

.hero-column {
  display: flex;
  flex-direction: column;   /* vertical layout */
  align-items: center;      /* center horizontally */
  justify-content: center;  /* center vertically */
  text-align: center;       /* center text */
  padding: 20px;
}

.dashboard-container {
  width: 100%;
  height: 80vh;              /* full screen height */
  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: center;       /* center vertically */
}

.dashboard-content {
  text-align: center;
}

.dashboard-img {
  width: 750px;
  margin-top: 5px;
}
.content {
  flex: 1;
  padding: 40px;
}
body {
  font-family: 'Tektur', sans-serif;
}
h1, h2, .logo-text {
  font-family: 'Iceland', sans-serif;
  letter-spacing: 2px;
}
.dashboard-content h1 {
  font-family: 'Iceland', sans-serif;
  font-size: 60px;
  color: #ffffff;
  text-shadow: 0 0 15px #e85a5a;
}

